<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inu.voucherview.mapper.CourseMapper">
    <resultMap id="CourseMap" type="inu.voucherview.domain.Course">
        <id column="course_id" property="courseId"/>
        <result column="facility_id" property="facilityId"/>
        <result column="course_no" property="courseNo"/>
        <result column="course_name" property="courseName"/>
        <result column="sport_cd" property="sportCd"/>
        <result column="sport_name" property="sportName"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="establishment_year" property="establishmentYear"/>
        <result column="establishment_month" property="establishmentMonth"/>
        <result column="request_count" property="requestCount"/>
        <result column="price" property="price"/>
    </resultMap>

    <select id="findById" resultMap="CourseMap">
        SELECT
            course_id, facility_id, course_no, course_name,
            sport_cd, sport_name, start_date, end_date,
            establishment_year, establishment_month, request_count, price
        FROM
            courses
        WHERE
            course_id = #{courseId}
    </select>

    <select id="findAll" resultMap="CourseMap">
        SELECT
            course_id, facility_id, course_no, course_name,
            sport_cd, sport_name, start_date, end_date,
            establishment_year, establishment_month, request_count, price
        FROM
            courses
        ORDER BY
            course_id DESC
        LIMIT #{page.limit} OFFSET #{page.offset}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM courses
    </select>

    <select id="findByFacilityId" resultMap="CourseMap">
        SELECT
            course_id, facility_id, course_no, course_name,
            sport_cd, sport_name, start_date, end_date,
            establishment_year, establishment_month, request_count, price
        FROM
            courses
        WHERE
            facility_id = #{facilityId}
        ORDER BY
            course_id DESC
        LIMIT #{page.limit} OFFSET #{page.offset}
    </select>

    <select id="countByFacilityId" resultType="int">
        SELECT COUNT(*)
        FROM courses
        WHERE
            facility_id = #{facilityId}
    </select>
</mapper>