<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inu.voucherview.mapper.FacilityMapper">

    <resultMap id ="FacilityMap" type="inu.voucherview.domain.Facility">
        <id column="facility_id" property="facilityId"/>
        <result column="name" property="name"/>

        <result column="zip_no" property="zipNo"/>
        <result column="province_name" property="ctNm"/>
        <result column="city_name" property="ctDetailNm"/>

        <result column="address" property="address"/>

        <result column="tel_no" property="phoneNumber"/>

        <result column="main_sport" property="mainSport"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="aver_rating" property="averRating"/>
    </resultMap>

    <select id ="findById" resultMap="FacilityMap">
        SELECT facility_id, name, zip_no, province_name, city_name, address, tel_no, main_sport, aver_rating,
               ST_Y(location) as latitude, ST_X(location) as longitude
        FROM facilities
        WHERE facility_id = #{facilityId}
    </select>

    <select id = "findAll" resultMap="FacilityMap">
        SELECT facility_id, name, zip_no, province_name, city_name, address, tel_no, main_sport, aver_rating,
               ST_Y(location) as latitude, ST_X(location) as longitude
        FROM facilities
        ORDER BY facility_id DESC
            LIMIT #{page.limit} OFFSET #{page.offset}
    </select>

    <select id = "countAll" resultType = "int">
        SELECT COUNT(*) FROM facilities
    </select>

    <update id ="updateAverRating">
        UPDATE facilities SET aver_rating = #{averRating}
        WHERE facility_id = #{facilityId}
    </update>

</mapper>